@charset "utf-08";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;

}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font01);

}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font02);
    font-size: 6.5vh;
}

header > h1{
    padding-top: 50px;
    

}

header > p{
    padding-bottom: 50px;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 4.2vh;



}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(61, 58, 58);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.466);
    width: 400px;


}

footer{
    background-color: black;
    color: white;
    padding: 7px;

}